
<%= provide(:title, 'Регистрация') %>
<link data-turbolinks-track="true" href="/assets/new.css" media="all"
      rel="stylesheet" />
<h1>Регистрация</h1>
<div class="row">
  
   <%= form_for(@user) do |f| %>
      <div class="error_mess">
        <%= render 'shared/error_messages' %>
      </div>
      <div class="labels&fields"
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.label :пароль %>
        <%= f.password_field :password_digest%>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      </div>
      <% end %>
</div>
