
<%= provide(:title, 'Регистрация') %>
<link data-turbolinks-track="true" href="/assets/new.css" media="all"
      rel="stylesheet" />

<%= render 'main_page/header' %>
<div class="left-photo"></div>
<div class="row-new">
  <%= form_for(@user) do |f| %>
      <div class="error_mess">
        <%= render 'shared/error_messages' %>
      </div>
        <%= f.label :name, 'Никнейм' %><%= f.text_field :name %><%= f.label :email, 'Электронная почта' %><%= f.email_field :email %><%= f.label :password_digest, 'Пароль' %><%= f.password_field :password_digest%><%= f.password_field :password_digest%>

            <%= f.submit "Зарегистрироваться", class: "btn-btn-primary" %><a><%= link_to 'У меня уже есть аккаунт', about_path %></a>

      <% end %>
</div>
